In [1]:
from google.cloud import bigquery
from google.oauth2 import service_account
credentials = service_account.Credentials.from_service_account_file('/mnt/d/Germany/JobHunt/Niologic/warm-bonfire-315806-57e1dcb7bd95.json')
project_id = 'warm-bonfire-315806'
client = bigquery.Client(credentials=credentials, project=project_id)

In [25]:

query_job = client.query(""" 
SELECT 
  datetime_trunc(Datetime, HOUR) as time,
  COUNT(*) AS NUM_CALLS
FROM `warm-bonfire-315806.seattle_call_volume.call_freq_prediction` 
WHERE Datetime >='2017-01-01'
GROUP BY time
ORDER BY time
""")
results = query_job.result().to_dataframe()

In [19]:
results.to_csv("/mnt/d/Germany/JobHunt/Niologic/results.csv")

In [26]:
results

                           time  NUM_CALLS
0     2017-01-01 00:00:00+00:00         25
1     2017-01-01 01:00:00+00:00         24
2     2017-01-01 02:00:00+00:00         18
3     2017-01-01 03:00:00+00:00         18
4     2017-01-01 04:00:00+00:00         10
...                         ...        ...
49625 2022-09-02 10:00:00+00:00         15
49626 2022-09-02 11:00:00+00:00         16
49627 2022-09-02 12:00:00+00:00         15
49628 2022-09-02 13:00:00+00:00         28
49629 2022-09-02 14:00:00+00:00          2

[49630 rows x 2 columns]

In [14]:
import pandas as pd

k = pd.read_gbq(results, project_id,credentials)
k

AttributeError: 'RowIterator' object has no attribute 'strip'

In [25]:

%load_ext google.cloud.bigquery
%%bigquery df
SELECT CAST(EXTRACT(date from start_date) AS TIMESTAMP) AS date, COUNT(*) AS numrentals
FROM 'warm-bonfire-315806.seattle_call_volume.call_freq_prediction'
WHERE start_station_name LIKE '%Hyde%'  -- all stations in Hyde Park
GROUP BY date
HAVING date BETWEEN '2015-05-01' AND '2015-06-15'
ORDER BY date

SyntaxError: invalid syntax (3026870627.py, line 3)